@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 44% 93%;
    --foreground: 283 10% 20%;
    --card: 300 44% 96%;
    --card-foreground: 283 10% 20%;
    --popover: 300 44% 96%;
    --popover-foreground: 283 10% 20%;
    --primary: 283 39% 55%;
    --primary-foreground: 300 100% 98%;
    --secondary: 300 30% 88%;
    --secondary-foreground: 283 10% 20%;
    --muted: 300 30% 88%;
    --muted-foreground: 283 10% 40%;
    --accent: 179 41% 55%;
    --accent-foreground: 300 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 20% 85%;
    --input: 283 20% 88%;
    --ring: 283 39% 55%;
    --chart-1: 283 39% 55%;
    --chart-2: 179 41% 55%;
    --chart-3: 43 96% 56%;
    --chart-4: 349 83% 60%;
    --chart-5: 211 92% 59%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 283 10% 10%;
    --foreground: 300 5% 85%;
    --card: 283 10% 12%;
    --card-foreground: 300 5% 85%;
    --popover: 283 10% 10%;
    --popover-foreground: 300 5% 85%;
    --primary: 283 39% 55%;
    --primary-foreground: 300 100% 98%;
    --secondary: 283 10% 18%;
    --secondary-foreground: 300 5% 85%;
    --muted: 283 10% 18%;
    --muted-foreground: 300 5% 60%;
    --accent: 179 41% 55%;
    --accent-foreground: 283 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 10% 20%;
    --input: 283 10% 20%;
    --ring: 283 39% 55%;
    --chart-1: 283 39% 55%;
    --chart-2: 179 41% 55%;
    --chart-3: 43 96% 56%;
    --chart-4: 349 83% 60%;
    --chart-5: 211 92% 59%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}